.list {
    $self: &;
    margin-bottom: 30px;

    &__add-button {
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }

    li {
        display: flex;
        align-items: center;
        margin: 5;
        cursor: pointer;
        padding: 10px 12px;

        span {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 160px;
            white-space: nowrap;
        }

        &:hover #{$self}__remove-icon {
            opacity: 0.2;
        }

        #{$self}__remove-icon {
            opacity: 0;
            transition: opacity 0.15s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.1)
        }

        &.active {
            background: #ffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }

        i {
            display: inline-flex;
            margin-right: 10px;

            svg {
                path {
                    fill: #7c7c7c;
                }
            }
        }
    }
}