.add-list {
    &__popup {
        height: 150px;
        width: 240px;
        background: #ffffff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 18px;
        box-sizing: border-box;
        position: relative;
        top: -25px;
        left: -20px;



        .button {
            width: 100%;
            margin-top: 10px;
        }

        &-color {
            margin-top: 15px;
        }

        .badge {
            width: 16px;
            height: 16px;
            cursor: pointer;
            border: 2px solid transparent;
    
            &.active {
              border: 2px solid #525252;
            }
          }
    }
}