*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 150px);
  height: calc(100vh - 100px);
  transform: translate(-50%,-50%);
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  &__sidebar{
    overflow: auto;
    background: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px;
  }
  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
  &__list{
    li {
    display: flex;
    align-items: center;
    margin: 5;
    cursor: pointer;
    padding: 10px 12px;  
      &.active{
        background: #ffff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    border-radius: 4px;
      }

      i {
        display: flex;
        margin-right: 10px;
      }
    }
    
  }
  .button{
    background: rgba(22, 137, 22, 0.579) ;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;

    &:hover {
      background: rgba(22, 137, 22, 0.803);
      cursor: pointer;
    }
    &__active {
      background: rgb(22, 137, 22);
    }
    &:disabled {
      background: #d8d8d8;
    }
  
    &--grey {
      background: #f4f6f8;
      color: #444444;
  
      &:hover {
        background: darken(#f4f6f8, 3%);
      }
  
      &:active {
        background: darken(#f4f6f8, 6%);
      }
    }
  }
  .field {
    background: #ffffff;
    border: 1px solid #bbbfc3f9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
  }
  &:focus {
    border-color: #dbdbdb;
  }
}
